# Análisis exploratorio de datos tabulados

In [4]:
import pandas as pd
import numpy as np

In [ ]:
#Lectura de los datos

df = pd.read_csv("Human_Resources.csv")
df

In [ ]:
pd.set_option("display.max_columns", None) #Que muestre todas las columnas
df.head(3)

In [ ]:
df.info()

In [ ]:
df["Age"].unique() #Para ver los valores únicos de la columna

In [ ]:
df.nunique() #Cuenta los valores únicos en todas las columnas

In [ ]:
df.columns.to_list() #Genera una lista de los nombres de las columnas
for name in df.columns.to_list():
    print(f"La columna: {name} contiene los elementos {df[name].unique()}")

In [ ]:
#Eliminar columnas que no brindan información
valores_unicos_n = df.nunique()
columnas_sn_info = valores_unicos_n[valores_unicos_n == 1].index.tolist()
columnas_sn_info

In [ ]:
#Elimina las columnas del dataframe original
df.drop(columnas_sn_info, axis=1, inplace=True) #axis=0 quiere decir filas, axis=1 columnas. inplace es para decirle que modifique el df original

In [ ]:
df_clean = df.drop(columnas_sn_info, axis=1) #Guarda otro dataframe con las columnas eliminadas

In [ ]:
df_clean.describe()

## Personas que siguen trabajando con la empresa (División de un dataset)

In [ ]:
siguen_trabajando = df_clean[df_clean["Attrition"] == "No"]
renunciaron = df_clean[df_clean["Attrition"] == "Yes"]

In [ ]:
renunciaron.describe()

In [ ]:
siguen_trabajando.describe()

In [ ]:
personas_sueldo_bien = siguen_trabajando[(siguen_trabajando["MonthlyIncome"] > 10000) & (siguen_trabajando["MonthlyIncome"] < 15000)]
personas_sueldo_bien.describe()

# Extraer numeros de una columna

In [8]:
import re
data = {"mezclados": ["4565dfdsf", "545454dsdfsdf", "r8e7r54e", "ffe7s4f8f"]}
df = pd.DataFrame(data)

In [9]:
data_num = "4526dfdsf"
numero = re.search(r"\d+", data_num)
int(numero.group())

4526

In [10]:
def extract_numbers(s):
    numero = re.search(r"\d+",s)
    return int(numero.group()) if numero else np.nan

In [12]:
df["numerico"] = df["mezclados"].apply(extract_numbers)
df

       mezclados  numerico
0      4565dfdsf      4565
1  545454dsdfsdf    545454
2       r8e7r54e         8
3      ffe7s4f8f         7